---
# 1. 基础架构连接信息
infra_config:
  vcenter_dc: "SDDC-Datacenter"
  vcenter_cluster: "Cluster-1"
  vcenter_ds: "workload_share_yBaQN"
  vm_folder: "/Workloads/sandbox-n7bs6"
  vm_template: "W2K19-VM-Template"
  vm_network: "segment-sandbox-n7bs6"

# 2. Windows 运维连接参数
win_connection_vars:
  ansible_connection: "winrm"
  ansible_port: 5985
  ansible_winrm_transport: "ntlm"
  ansible_winrm_server_cert_validation: "ignore"
  ansible_user: "administrator"
  ansible_password: "Redhat!234"

# 3. Active Directory 域信息
ad_domain:
  name: "example.org"
  dns_server: "192.168.22.70"
  admin_user: "administrator@example.org"
  admin_password: "Redhat!234"

# 4. 待部署虚机列表
vm_list:
{% for item in provision_data.vm_list %}
  - name: "{{ item.name }}"
    ip: "{{ item.ip }}"
    mask: "255.255.255.0"
    gw: "192.168.22.1"
    dns: ["192.168.22.70", "8.8.8.8"]
    cpu: {{ item.cpu | int }}
    ram: {{ item.ram | int }}
    portgroup: "{{ item.portgroup }}"
    os_disk: {{ item.os_disk | int }}
    app_disk: "{{ item.app_disk | default('') }}"
{% endfor %}
